<div class="panel panel-default form-signup">
  <div class="panel-body">
    <h2 class="form-signup-heading">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, class: 'sr-only' %>
        <%= f.email_field :email, class: 'form-control', placeholder: 'E-mail', autofocus: true %>
        <%= f.label :password, class: 'sr-only' %>
        <%= f.password_field :password, class: 'form-control form-password', placeholder: 'Password', autocomplete: "off" %>
        <%= f.label :password_confirmation, class: 'sr-only' %>
        <%= f.password_field :password_confirmation, class: 'form-control form-password-confirmation', placeholder: 'Password Confirmation', autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-lg btn-primary btn-block m-b-10' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>